/* classes info */
#main_content .teacher_link {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: center; /* Aligns items horizontally */
}
#main_content #teacher_link_avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px; /* Adjust as needed */
}
#main_content .teacher_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#main_content .teacher_link_email {
    font-family: 'Rajdhani', sans-serif;
    margin: -25px 0 0 11px;
}

/* class mats */
.accordion-header button {
    font-size: 20px;
    color: #044cc8;
}
.link_holder {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.link_holder a {
    margin-left: 20px;
    color: #0388B4;
    text-decoration: none;
}
.link_holder a:hover {
    text-decoration: underline;
    color: #044CC8;
}
.link_holder:hover {
    border: 1px solid #0388b4;
}

/* timetable */
.schedules td,.schedules tr th {
    position: relative;
    min-width: 116px;
}
.schedules .card {
    overflow: hidden;
    cursor: pointer;
}
.schedules .card:hover {
    position: absolute;
    background-color: #084298;
    z-index: 999;
    width: 86%;
    height: auto !important;
}
.schedules .card-body:hover {
    background-color: #084298;
}

/* course table */
.show_class_table button {
    margin: 0 3px;
}

@media screen and (max-width: 768px) {
    .schedules tbody tr {
        position: relative;
    }
    .schedules tbody th {
        position: sticky;
        left: 0;
        z-index: 9999;
    }

    .show_class_table thead {
        display: none;
    }
    .show_class_table, .show_class_table tbody, .show_class_table tr, .show_class_table td {
        display: block;
        width: 100%;
    }
    .show_class_table tr {
        margin-bottom: 20px;
    }
    .show_class_table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        border: 1px solid #dee2e6;
    }
    .show_class_table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        text-align: left;
        font-weight: bold;
        padding-left: 15px;
    }
}