#main_content .S_profile_wrap{
    /* grid-template-columns: 900px 1 fr; */
    border-radius: 20px;
    /* display: flex; */
    align-items: flex-start;
    /* justify-content: space-between; */
}
#main_content .student_profile{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    /* width: 69%; */
}
#main_content .basic_infor{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 40px;
    padding: 30px;
}

#main_content .proPic{
    width: 16%;
}

/* #main_content .proPic img{
    width: 100%;
    object-fit: scale-down;
    height: auto;
} */

#main_content .ava_profilePic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
#main_content .basic_personal_infor{
    width: 70%;
    font-size: 18px;
    line-height: 10px;
    margin-top: 0.5%;
}
#main_content .student_name{
    font-size: 25px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 2%;
}
#main_content .edit_button{
    width: 25%;
}
#main_content .edit_profile_button{
    background-color: #3C91E6;
    border: none;
    color: white;
    border-radius: 20px;
    width: 150px;
    text-decoration: none;
    padding: 10px 15px 10px;
    font-weight: bold;
    margin-top: 15%;
}

#main_content .specific_infor{
    display: flex;
    margin-top: 2%;
    background-color: white;
    padding: 2%;
    border-radius: 20px;
}


/* #main_content .optional{
    width: 29%;
    height: 100vh;
    border-radius: 30px;
    background-color: white;
    padding: 20px;

}
#main_content .optional_s{
    margin-left: 15%;
} */
